<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Dough Joy</title>
    <link rel="stylesheet" href=.css/main.css>
    <link rel="normalize" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<style>
  @import url("https://use.typekit.net/wea6ygx.css");
</style>
</head>
<body>
    <h1>Components page goes here</h1>

    <h2>Typography defaults</h2>

    <article class="component">
        <h3 class="component__name"><body>

            <div class="component__image">
            <img srcset=".png 2x"
             src=".png"
            alt="body copy">
            </div>

            <div class="component__code">
                Code goes here
    

    <img srcset="img/molecule_nav-bar.png 2x"
     src="img/molecule_nav-bar.png" alt="Placeholder Image">

            </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings (h1, h2, h3)</h3>

        <div class="component__image">
            <img srcset="img/heading1.png 2x"
             src="img/heading1.png"
            alt="Heading 1">
        </div>

        <div class="component__code">
            Code goes here
                <p></p>
        </div>
    </article>





    
</body></html>