<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Dough Joy</title>
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href=css/main.css>
    <link rel="normalize" href="css/normalize.css">
    
 
</style>
</head>

<body>

    <!-- 
  This is a comment that
  spans multiple lines.
-->


   <!--  <h1>CCC 

    </h1>

    <h2>Typography defaults</h2>

    <article class="component">
        <h3 class="component__name"><typography>

            <div class="component__image">
            <img srcset="img/.png 2x"
            src="img/.png" alt="font families">
            </div>

            <div class="component__code">
                code goes here
        </div>

    </article>
    


 
    

               




  headings  component goes here
-->

    

                

    <h1>Headings Components</h1>

    <article class="component">
            <h3 class="component__name"><headings>

           
            <img srcset="img/h2.png 2x"
                src="img/h2.png"
                alt="body copy">


        <div class="component__code">
            <h1>DONUTS</h1>
        </div>

           
                <img srcset="img/h3.png 2x"
                src="img/h3.png"
                alt="body copy">


        <div class="component__code">
                <h2>Welcome to Dough Joy!</h2>
        </div>

            
                <img srcset="img/h4.png 2x"
                src="img/h4.png"
                alt="body copy">
           

        <div class="component__code">
                <h4>Donut filled with creamy vanilla filling and topped with housemade chocolate icing</h4>
        </div>

           
        </article>
   <!-- 
  nav bar component goes here
-->

    
        <h1></h1>

        <h1>NAVBAR COMPONENTS </h1>

    <article class="component">
                     <h3 class="component__name"><nav>

                    <div class="component__image">
                        <img srcset="img/nav_bar.png 2x" 
                        src="img/nav_bar.png" 
                        alt="body copy">
                    </div>

                   
            
            <div class="component__image">
                    <img srcset="img/order_button.png 2x"
                    src="img/order_button.png" alt="Placeholder Image">

            </div>


            

                 <div class="component__code">
                        <nav class="nav-bar">
       
            <ul class="nav-bar__list-left">
                <li class="nav-bar__list-item_left"><a href="">MENU</a></li>
                <li class="nav-bar__list-item_left"><a href="">ABOUT</a></li>
            </ul>

            <img class="nav-bar__logo" src="img/logo.png" alt="logo">
            </img>

            <ul class="nav-bar__list-right">
                <li class="nav-bar__list-item_right"><a href="#">EVENTS</a></li>
                <li class="nav-bar__list-item_right"><a href="#">LOCATIONS</a></li>
            </ul>
        </div>
       
       
    </nav>
                    </div>
                
    </article>

    <!-- 
  This is the ? component.
-->

    
 
        <div class="component__image">
    <img srcset="img/header_image.png 2x"
     src="img/header_image.png" alt="inside donut shop">

            </div>
    </article>



    

    <!-- 
  This is the copy component
-->
    <h1></h1>

    <h2>Body components</h2>

    <article class="component">
        <h3 class="component__name"><body>

            <div class="component__image">
                 <img srcset="img/copy1.png 2x"
                src="img/copy1.png" alt="welcome to dough joy body copy">
            </div>

           

            <div class="component__code">
                  
                                <h2>Welcome to Dough Joy!</h2>

                <p>We're Seattle's specialty donut shop offering delicious and creative handmade donuts daily.</p>
                    <p>The Dough Joy story is a sweet one! From a food truck in May of 2021, to three shops in just three years, we're so proud of what we've built alongside our team and incredible customers.</p>
                    <p>While you wouldn't know it, all our donuts are egg free, dairy free, and nut free. We also offer gluten-free donuts as well! *not a gluten-free facility*</p>
                    <h2>We are proudly an LGBTQ owned business and all are welcome.</h2>
            <button class="specials__button">FIND OUT MORE</button>
                </div>
            <div class="component__image">
                    <img srcset="img/molecule_marquee-menu-link.png 2x"
            src="img/molecule_marquee-menu-link.png" alt="images with donuts and link to menu">
                
            </div>

 <div class="container__specials">
                 <article class="specials__header"> <h1>3 NEW FLAVORS MONTHLY!  CHECK OUT OUR MONTHLY SPECIALS ON INSTAGRAM OR IN STORE! </h1>
                 </article>

                 <img srcset="img/comment.png 2x"
                 src="img/comment.png">

                <div  class="specials__images">

                    <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/comment.png 2x"
                    src="img/comment.png">
                </div>

                 <button class="specials__button">VIEW FULL MENU</button>
 
 
 
            </div>


      



        <div class="component__image">
            <img srcset="img/copy2.png 2x"
            src="img/copy2.png" alt="Placeholder Image">
        </div>

            <div class="component__code">

                  <h2>Donuts for all. </h2>

                    <p>As Seattle's specialty donut shop, we are proud to offer over 20 creative flavors daily, full coffee bar, and allergen friendly options for all.</p>
                    <p>At Dough Joy we aim to raise the bar with our friendly team, vibrant atmosphere, and delicious donuts.</p>
                    <p>We cut out all the animal products, use plant based ingredients, and make all our donuts in small batches daily to ensure an incredible donut experience.</p>
                    <p>We think we do donuts better, but you be the judge!</p>
                
            </div>
    



                

            </div>
    </article>

<!-- 
  This is the footer component.
-->
      <h1></h1>

    <h2>Footer components</h2>

        <article class="component">
            <h3 class="component__name"><footer>

            <div class="component__image">
            <img srcset="img/location.png 2x"
            src="img/location.png"
            alt="location body copy">
            </div>

             <div class="component__code">
                Code goes here

                <div class="footer__location-container">
                    <img srcset="img/store.png 2x"
                    src="img/store.png">

                    <h1>CAPITOL HILL</h1>
                    <p>1316 E Pike St. 98122</p>
                    <p>Wednesday - Sunday / 8a-2p</p>
                    <p> Closed Monday & Tuesday</p>
                    




             </div>

             


            <div class="component__image">
                <img srcset="img/image-gallery.png 2x"
                src="img/image-gallery.png">
            </div>


             <div class="component__code">
                Code goes here
             </div>

            <div>
                <img srcset="img/contact.png 2x"
                src="img/contact.png">
            </div>

        <div class="container__inputs">
            
            <div class="input-social"><p>Get your <em>donut</em> on.</p>

                <div class="component__image">
                <img srcset="img/instagram_icon.png 2x"
                src="img/instagram_icon.png">

                <div class="component__image">
                <img srcset="img/facebook_icon.png 2x"
                src="img/facebook_icon.png">
        </div>
                   
             <div class="input-email"><p>Stay in touch</p>
                <input type="text" placeholder="Enter email">
                <button class="footer__button">GO</button>
            </div>


                
        </div>



            

            </div>
    </article>


<!-- 
  This is the menu component.
-->
      <h1>Menu Components</h1>

    

    <article class="component">
        <h3 class="component__name"><menu>

            <div class="component__image">
            <img srcset="img/menu_items.png 2x"
             src="img/menu_items.png"
            alt="menu body copy">
            </div>

            <div class="component__code">
                Code goes here
    
            </div>
    </article>  




</body></html>