<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Dough Joy</title>
    <link rel="stylesheet" href=css/main.css>
    <link rel="normalize" href="normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<style>
  @import url("https://use.typekit.net/wea6ygx.css");
</style>
</head>
<body>

    <!-- 
  This is a comment that
  spans multiple lines.
-->


    <h1>CCC 

    </h1>

    <h2>Typography defaults</h2>

    <article class="component">
        <h3 class="component__name"><typography>

            <div class="component__image">
            <img srcset="img/.png 2x"
            src="img/.png" alt="font families">
            </div>

            <div class="component__code">
                Code goes here
        </div>

    </article>
    


   <!-- 
  color defaults component goes here
-->

    

                <h1></h1>

    <h2>color defaults</h2>

    <article class="component">
            <h3 class="component__name"><color>

            <div class="component__image">
                <img srcset=".png 2x"
                src=".png"
                alt="color swatches">
            </div>

            <div class="component__code">
                Code goes here

            </div>


<!-- 
  headings  component goes here
-->

    

                <h1>Headings</h1>

    <h2>Headings Components</h2>

    <article class="component">
            <h3 class="component__name"><headings>

            <div class="component__image">
                <img srcset=".png 2x"
                src=".png"
                alt="body copy">
            </div>

            <div class="component__code">
                Code goes here

            </div>
        </article>
   <!-- 
  nav bar component goes here
-->

    
        <h1></h1>

        <h2>navbar components</h2>

    <article class="component">
                     <h3 class="component__name"><nav>

                    <div class="component__image">
                        <img srcset="img/nav_bar.png 2x"
                        src="img/nav_bar.png"
                        alt="body copy">
                    </div>

                   
            
            <div class="component__image">
                    <img srcset="img/order_button.png 2x"
                    src="img/order_button.png" alt="Placeholder Image">

            </div>


            

                 <div class="component__code">
                        <nav class="nav-bar">
       
            <ul class="nav-bar__list-left">
                <li class="nav-bar__list-item_left"><a href="">MENU</a></li>
                <li class="nav-bar__list-item_left"><a href="">ABOUT</a></li>
            </ul>

            <img class="nav-bar__logo" src="img/logo.png" alt="logo">
            </img>

            <ul class="nav-bar__list-right">
                <li class="nav-bar__list-item_right"><a href="#">EVENTS</a></li>
                <li class="nav-bar__list-item_right"><a href="#">LOCATIONS</a></li>
            </ul>
        </div>
       
       
    </nav>
                    </div>
                
    </article>

    <!-- 
  This is the ? component.
-->

    
 
        <div class="component__image">
    <img srcset="img/header_image.png 2x"
     src="img/header_image.png" alt="Placeholder Image">

            </div>
    </article>



    

    <!-- 
  This is the copy component
-->
    <h1></h1>

    <h2>Body components</h2>

    <article class="component">
        <h3 class="component__name"><body>

            <div class="component__image">
                 <img srcset="img/copy1.png 2x"
                src="img/copy1.png" alt="welcome to dough joy body copy">
            </div>

            <div class="component__image">
                 <img srcset="img/content-image1.png 2x"
                src="img/content-image1.png" alt="owners">
             </div>

            <div class="component__code">
                  
                                <h2>Welcome to Dough Joy!</h2>

                <p>We're Seattle's specialty donut shop offering delicious and creative handmade donuts daily.</p>
                    <p>The Dough Joy story is a sweet one! From a food truck in May of 2021, to three shops in just three years, we're so proud of what we've built alongside our team and incredible customers.</p>
                    <p>While you wouldn't know it, all our donuts are egg free, dairy free, and nut free. We also offer gluten-free donuts as well! *not a gluten-free facility*</p>
                    <p>We are proudly an LGBTQ owned business and all are welcome.</p>
            </div>
            <div class="component__image">
                    <img srcset="img/molecule_marquee-menu-link.png 2x"
            src="img/molecule_marquee-menu-link.png" alt="images with donuts and link to menu">
                
            </div>

            <div class="component__image">
                  <img srcset="img/content-image2.png 2x"
            src="img/content-image1.png" alt="donuts on a tray">


        </div>



        <div class="component__image">
            <img srcset="img/copy2.png 2x"
            src="img/copy2.png" alt="Placeholder Image">
                  <h2>Donuts for all. </h2>

                    <p>As Seattle's specialty donut shop, we are proud to offer over 20 creative flavors daily, full coffee bar, and allergen friendly options for all.</p>
                    <p>At Dough Joy we aim to raise the bar with our friendly team, vibrant atmosphere, and delicious donuts.</p>
                    <p>We cut out all the animal products, use plant based ingredients, and make all our donuts in small batches daily to ensure an incredible donut experience.</p>
                    <p>We think we do donuts better, but you be the judge!</p>
                
            
    



            <img srcset="img/atom_marquee-content-image2.png 2x"
            src="img/atom_marquee-content-image2.png" alt="Placeholder Image">

                

            </div>
    </article>

<!-- 
  This is the footer component.
-->
      <h1></h1>

    <h2>Footer components</h2>

        <article class="component">
            <h3 class="component__name"><footer>

            <div class="component__image">
            <img srcset="img/location.png 2x"
            src="img/location.png"
            alt="location body copy">
            </div>

            <div class="component__image">
                <img srcset="img/image-gallery.png 2x"
                src="img/image-gallery.png">


            </div>

            <div class="component__image">
                <img srcset="img/instagram_icon.png 2x"
                src="img/instagram_icon.png">

                <div class="component__image">
                <img srcset="img/facebook_icon.png 2x"
                src="img/facebook_icon.png">

                
            </div>


                
            </div>



            <div class="component__code">
                Code goes here
    

    <img srcset="img/molecule_footer-image_gallery.png 2x"
     src="img/molecule_footer-image_gallery.png" alt="Placeholder Image">

            </div>
    </article>


<!-- 
  This is the menu component.
-->
      <h1>Menu Components</h1>

    <h2>Menu components</h2>

    <article class="component">
        <h3 class="component__name"><menu>

            <div class="component__image">
            <img srcset="img/menu_items.png 2x"
             src="img/menu_items.png"
            alt="menu body copy">
            </div>

            <div class="component__code">
                Code goes here
    
<img src="img/components/img/img/atom_footer-image_gallery-image.png">
    <img srcset="components/img/molecule_nav-bar.png 2x"
     src="components/img/molecule_nav-bar.png" alt="Placeholder Image">

            </div>
    </article>  




</body></html>