<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Dough Joy</title>
    <link rel="stylesheet" href=css/main.css>
    <link rel="normalize" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<style>
  @import url("https://use.typekit.net/wea6ygx.css");
</style>
</head>

<body>

                   
            <div class="component__image">
                    <img srcset="img/order_button.png 2x"
                    src="img/order_button.png" alt="Placeholder Image">

            </div>

                       <nav class="nav-bar">
       
            <ul class="nav-bar__list-left">
                <li class="nav-bar__list-item_left"><a href="">MENU</a></li>
                <li class="nav-bar__list-item_left"><a href="">ABOUT</a></li>
            </ul>

            <img class="nav-bar__logo" src="img/logo.png" alt="logo">
            </img>

            <ul class="nav-bar__list-right">
                <li class="nav-bar__list-item_right"><a href="#">EVENTS</a></li>
                <li class="nav-bar__list-item_right"><a href="#">LOCATIONS</a></li>
            </ul>
        </div>
       
       
    </nav>
                 <div class="component__image">
    <img srcset="img/header_image.png 2x"
     src="img/header_image.png" alt="inside donut shop">

            </div>
       


            <div class="component__code">
                  
                                <h2>Welcome to Dough Joy!</h2>

                <p>We're Seattle's specialty donut shop offering delicious and creative handmade donuts daily.</p>
                    <p>The Dough Joy story is a sweet one! From a food truck in May of 2021, to three shops in just three years, we're so proud of what we've built alongside our team and incredible customers.</p>
                    <p>While you wouldn't know it, all our donuts are egg free, dairy free, and nut free. We also offer gluten-free donuts as well! *not a gluten-free facility*</p>
                    <h2>We are proudly an LGBTQ owned business and all are welcome.</h2>
            <button class="specials__button">FIND OUT MORE</button>

                <img src="img/content-image1.png">
                </div>
           
            <div class="container__specials">
                 <article class="specials__header"> <h1>3 NEW FLAVORS MONTHLY!  CHECK OUT OUR MONTHLY SPECIALS ON INSTAGRAM OR IN STORE! </h1>
                 </article>

                 <img srcset="img/comment.png 2x"
                 src="img/comment.png">

                <div  class="specials__images">

                    <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/donut.png" width="100px"
                    src="img/donut.png">

                     <img srcset="img/comment.png 2x"
                    src="img/comment.png">
                </div>

                 <button class="specials__button">VIEW FULL MENU</button>

                 <img src="img/content-image2.png" alt="boxes of donuts">

 
                          <div class="component__code">

                  <h2>Donuts for all. </h2>

                    <p>As Seattle's specialty donut shop, we are proud to offer over 20 creative flavors daily, full coffee bar, and allergen friendly options for all.</p>
                    <p>At Dough Joy we aim to raise the bar with our friendly team, vibrant atmosphere, and delicious donuts.</p>
                    <p>We cut out all the animal products, use plant based ingredients, and make all our donuts in small batches daily to ensure an incredible donut experience.</p>
                    <p>We think we do donuts better, but you be the judge!</p>
                
            </div>
    
<!-- This is where the purple donut banner goes.  You still need to code this -->



<!-- This is the footer__location section -->

 
<!-- This is the footer__instagram section -->



 <div class="component__code">
          
        <div class="container__inputs">
            
            <div class="input-social"><p>Get your <em>donut</em> on.</p>

                <div class="component__image">
                <img srcset="img/instagram_icon.png 2x"
                src="img/instagram_icon.png">

                <div class="component__image">
                <img srcset="img/facebook_icon.png 2x"
                src="img/facebook_icon.png">
        </div>
                   
             <div class="input-email"><p>Stay in touch</p>
                <input type="text" placeholder="Enter email">
                <button class="footer__button">GO</button>
            </div>




</body>