<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Dough Joy</title>
    <link rel="stylesheet" href=css/main.css>
    <link rel="normalize" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
    <link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<link rel="stylesheet" href="https://use.typekit.net/wea6ygx.css">
<style>
  @import url("https://use.typekit.net/wea6ygx.css");
</style>
</head>

<body>

                   
            
            <div class="order__banner">
                
                <a href="order__banner">ORDER DONUTS ONLINE</a>
            </div>

<nav class="nav-bar">
       
            <ul class="nav-bar__list-left">
                <li class="nav-bar__list-item_left"><a href="">MENU</a></li>
                <li class="nav-bar__list-item_left"><a href="">ABOUT</a></li>
            </ul>

            <img class="nav-bar__logo" src="img/logo1.png" alt="logo">
            </img>

            <ul class="nav-bar__list-right">
                <li class="nav-bar__list-item_right"><a href="#">EVENTS</a></li>
                <li class="nav-bar__list-item_right"><a href="#">LOCATIONS</a></li>
            </ul>
        </div>
       
       
    </nav>


<div class="header__image">
                <img srcset="img/header__image1.png 2x"
                src="img/header__image1.png" alt="inside donut shop">

</div>
       


<div class="container__intro">
                    
                <div class="container__intro-copy">

                <h2>Welcome to Dough Joy!</h2>
              
                    <p>We're Seattle's specialty donut shop offering delicious and creative handmade donuts daily.</p>
                    <p>The Dough Joy story is a sweet one! From a food truck in May of 2021, to three shops in just three years, we're so proud of what we've built alongside our team and incredible customers.</p>
                    <p>While you wouldn't know it, all our donuts are egg free, dairy free, and nut free. We also offer gluten-free donuts as well! *not a gluten-free facility*</p>
                    <h3>We are proudly an LGBTQ owned business and all are welcome.</h3>

                    <button class="content__button">
                        <a href="content__button">FIND OUT MORE</a></button>
                </div>

            
                <div class="intro__image">
                
                <img src="img/intro-image.png">
             </div>

               <!-- <div class="color__block">NO TEXT HERE- just a block of color so the img appears to overflow the next section</div>-->

                          
</div>
           
<div class="specials">
                 <article class="specials__header"> <h1>3 NEW FLAVORS MONTHLY!  CHECK OUT OUR MONTHLY SPECIALS ON INSTAGRAM OR IN STORE! </h1>
                 </article>


        <div  class="specials__images">
                    <img srcset="img/comment2.png 2x" height= "100px" width="100px"
                src="img/comment2.png">

                    <img srcset="img/donut.png" height= "150px" width="150px"
                    src="img/donut.png">

                     <img srcset="img/donut-blue.png" height= "150px" width="150px"
                    src="img/donut-blue.png">

                     <img srcset="img/donut-yellow.png" height= "150px" width="150px"
                    src="img/donut-yellow.png">

                     <img srcset="img/comment.png 2x" height= "100px" width="100px"
                    src="img/comment.png">
        </div>

        <button class="specials__button">
                <a href="specials__button">VIEW FULL MENU</a></button>
        
</div>



<div class ="container__content">


                 <img src="img/content-image2.png" alt="boxes of donuts">

                <article>
                         <div class="container__content-header">
                        <h2>Donuts for all.</h2>
                        </div>
                        <div class="container__content-copy">
                    <p>As Seattle's specialty donut shop, we are proud to offer over 20 creative flavors daily, full coffee bar, and allergen friendly options for all.</p>
                    <p>At Dough Joy we aim to raise the bar with our friendly team, vibrant atmosphere, and delicious donuts.</p>
                    <p>We cut out all the animal products, use plant based ingredients, and make all our donuts in small batches daily to ensure an incredible donut experience.</p>
                    <h2>We think we do donuts better, but you be the judge!</h2>
                </div>
                </article>
</div>
    
<!-- This is where the purple donut banner goes -->


<div class="banner">
        <div class="banner-text">
                
       <h2>DONUTS DONUTS DONUTS</h2>
       </div>
        
            <img src="img/flower.png" height="50px" width="100px">
       
        <h2>DONUTS DONUTS DONUTS</h2>
       
            <img src="img/flower.png" height="100px" width="100px">

            <h2>DONUTS DONUTS DONUTS</h2>
       
            <img src="img/flower.png" height="100px" width="100px">
        </div>


<!-- This is the location section -->

 

 <div class="location">

        <div class="location__card">
                    <img srcset="img/store.png 2x"
                    src="img/store.png">

                    <h2>CAPITOL HILL</h2>
                    <p>1316 E Pike St. 98122</p>
                    <p>Wednesday - Sunday / 8a-2p</p>
                    <p> Closed Monday & Tuesday</p>
        
        </div>

        <div class="location__card">
        
                    <img srcset="img/store.png 2x"
                    src="img/store.png">

                    <h2>BALLARD</h2>
                    <p>2052 NW Market St. 98107</p>
                    <p>Wednesday / 7a-4p</p>
                    <p> Thursday / 7a-4p</p>
                    <p>Friday / 7a-4p</p>
                    <p>Saturday / 7a-4p</p>
                    <p>Sunday / 7a-4p</p>
       </div>

        <div class="location__card">

                <img srcset="img/store.png 2x"
                    src="img/store.png">

                    <h2>W SEATTLE</h2>
                    <p>4310 SW Oregon St. 98116</p>
                    <p>Wednesday - Sunday / 8a-3p</p>
                    <p> Closed Monday & Tuesday</p>
        </div>
 </div>


 <!-- This is the footer section -->

 <div class="footer__container">

        <!-- This is the footer__instagram section -->
        <div class="instagram__banner">

                <img src="img/instagram-start.png" alt="instagram image" height="200px" width="200px">
                <img src="img/instagram1.png" alt="instagram image" height="200px" width="200px">
                <img src="img/instagram2.png" alt="instagram image" height="200px" width="200px">
                <img src="img/instagram3.png" alt="instagram image"height="200px" width="200px">
                <img src="img/instagram4.png" alt="instagram image"height="200px" width="200px">
                <img src="img/instagram-end.png" alt="instagram image"height="200px" width="200px">
        </div>
          

        <!-- This is the footer__inputs section -->
        <div class="input">
            
                <div class="input__social"><p>Get your <em>donut</em> on.</p>

               <div class="input__social-image">
                <img srcset="img/instagram_icon.png 2x"
                src="img/instagram_icon.png">
               </div>
                
               

                <div class="input__social-image">
                <img srcset="img/facebook_icon.png 2x"
                src="img/facebook_icon.png">
                </div>
              
                </div>
                   
             <div class="input__email"><p>Stay in touch</p>
                <input type="text" placeholder="Enter email">
                <button class="footer__button">GO</button>
             </div>
            </div>




</body>