:root {
  --color-primary: #97dbce;
  --color-secondary: #ffbbe4;
  --color-accent:  #bebef4;
  --color-text: #333333;
  --color-background: #f7eee7;



}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/**Typography**/

/**
h1, h2, h3, h4, h5, h6 {
  font-family: var(--Cartograph-serif);
  color: var(--color-black);
  margin: 0;**/

h1 {font-family: "haboro-soft", sans-serif;
font-weight: 800;
font-style: normal;}

font-family: "novecento-sans-wide", sans-serif;
font-weight: 600;
font-style: normal;

h2 {
  font-family: "cartograph-cf", monospace;
font-weight: 700;
font-style: normal;
 
}

h3 {
font-family: "cartograph-cf", monospace;
font-weight: 400;
font-style: normal;
}



h4, p{
font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;
  
  
}

body{
font-family: var(--Montserrat-sans-serif);
color:#333333;

}

a {
   text-decoration: none;
   color: var(--black);
   font-weight: bold;
}

img{
    max-width: 100%;
  display: block;
  border: 1px solid #333333;
}

/**
.component img{
    max-width: initial;
}
    **/

 

.component__img{
    max-width: 100%;
    display: inline-block;
    border: 1px solid #e40909;
    overflow-x: scroll;
    padding: 2rem;
    margin: 2rem;
    
}   
.component__code{
    border: 3px solid #333333;
    background-color: #f7eee7;
    padding: 2rem;
}

.container__specials /**flex container for specials**/{
  background-color: #ffbbe4;
  font-size: .5rem;
  display: block;
  
 

  
  
}




.specials__images{
display: flex;
flex-direction: row;

}

.specials__button{
border-radius: 8px;
padding: 10px 20px;
justify-content: center;
}



/** .component**/


.nav-bar{
    background-color: rgb(249, 242, 232);
    max-width: 960px;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 20px;
    margin-top: 3rem;
}


.nav-bar__logo {
    
    max-width: 200px;
    height: auto;
    margin: 0;

}


.nav-bar__list-left {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    margin:auto;
}


.nav-bar__list-right {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    margin: auto;  
}


.container__inputs{
  display: flex;
}

.input-social{}

.input-email{}